<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.aimster.aimsterserver.mappers.ExampleMapper">

    <!-- Data type maps -->
    <resultMap id="ExampleMap" type="Example">
        <id column="id" property="id" />
        <result column="text" property="text" />
    </resultMap>

    <!-- Query definitions -->
    <select id="getExampleById" resultMap="ExampleMap">
        SELECT id,text FROM example WHERE id=#{id}
    </select>

    <insert id="insertExample" parameterType="String" useGeneratedKeys="true" keyProperty="id">
        insert into example(text) values (#{text})
    </insert>
</mapper>