<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.aimster.aimsterserver.mappers.UserFriendRequestMapper">

    <resultMap id="UserProfileResponseMap" type="UserFriendRequestResponse">
        <id column="id" property="id" />
        <result column="requesterId" property="requesterId" />
        <result column="username" property="requesterUsername" />
        <result column="experience" property="requesterExperience" />
    </resultMap>

    <select id="getUserPendingFriendRequests" resultMap="UserProfileResponseMap">
        SELECT user_friend_request.id,user.id as requesterId,user.username,user.experience FROM user_friend_request
        INNER JOIN user on user.id = user_friend_request.fk_source_id
        WHERE user_friend_request.fk_target_id = #{id}
    </select>

    <delete id="deleteUserPendingFriendRequestById">
        DELETE FROM user_friend_request WHERE
        id = #{id}
    </delete>

    <insert id="insertUserFriendRequest" parameterType="com.aimster.aimsterserver.objects.requests.CreateUserFriendRequestRequest" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
        INSERT INTO user_friend_request
            (fk_source_id, fk_target_id)
        VALUES
            (#{request.sourceId}, #{request.targetId})
    </insert>

</mapper>